body {
  width: 600px;
  margin: auto;
  margin-bottom: 100px; }

code {
  font-family: Courier; }

.animations-container {
  display: flex;
  flex-wrap: wrap; }

.sprite-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 40px; }

.twodanim-sprite-character0 {
  background: url("./img/1056010302.png"); }
@keyframes twodanim-sprite-keyframes-0 {
  0% {
    background-position: 0px 0px; }
  25% {
    background-position: -64px 0px; }
  50% {
    background-position: -128px 0px; }
  75% {
    background-position: -64px 0px; }
  100% {
    background-position: 0px 0px; } }

.twodanim-sprite-animation0 {
  animation-name: twodanim-sprite-keyframes-0;
  animation-duration: 1s;
  animation-timing-function: step-end;
  animation-iteration-count: infinite; }

@keyframes twodanim-sprite-keyframes-1 {
  0% {
    background-position: -192px 0px; }
  25% {
    background-position: -256px 0px; }
  50% {
    background-position: -320px 0px; }
  75% {
    background-position: -256px 0px; }
  100% {
    background-position: -192px 0px; } }

.twodanim-sprite-animation1 {
  animation-name: twodanim-sprite-keyframes-1;
  animation-duration: 1s;
  animation-timing-function: step-end;
  animation-iteration-count: infinite; }

@keyframes twodanim-sprite-keyframes-2 {
  0% {
    background-position: -384px 0px; }
  25% {
    background-position: -448px 0px; }
  50% {
    background-position: -512px 0px; }
  75% {
    background-position: -448px 0px; }
  100% {
    background-position: -384px 0px; } }

.twodanim-sprite-animation2 {
  animation-name: twodanim-sprite-keyframes-2;
  animation-duration: 1s;
  animation-timing-function: step-end;
  animation-iteration-count: infinite; }

@keyframes twodanim-sprite-keyframes-3 {
  0% {
    background-position: 0px -64px; }
  25% {
    background-position: -64px -64px; }
  50% {
    background-position: -128px -64px; }
  75% {
    background-position: -64px -64px; }
  100% {
    background-position: 0px -64px; } }

.twodanim-sprite-animation3 {
  animation-name: twodanim-sprite-keyframes-3;
  animation-duration: 1s;
  animation-timing-function: step-end;
  animation-iteration-count: infinite; }

@keyframes twodanim-sprite-keyframes-4 {
  0% {
    background-position: -192px -64px; }
  25% {
    background-position: -256px -64px; }
  50% {
    background-position: -320px -64px; }
  75% {
    background-position: -256px -64px; }
  100% {
    background-position: -192px -64px; } }

.twodanim-sprite-animation4 {
  animation-name: twodanim-sprite-keyframes-4;
  animation-duration: 1s;
  animation-timing-function: step-end;
  animation-iteration-count: infinite; }

@keyframes twodanim-sprite-keyframes-5 {
  0% {
    background-position: -384px -64px; }
  25% {
    background-position: -448px -64px; }
  50% {
    background-position: -512px -64px; }
  75% {
    background-position: -448px -64px; }
  100% {
    background-position: -384px -64px; } }

.twodanim-sprite-animation5 {
  animation-name: twodanim-sprite-keyframes-5;
  animation-duration: 1s;
  animation-timing-function: step-end;
  animation-iteration-count: infinite; }

@keyframes twodanim-sprite-keyframes-6 {
  0% {
    background-position: 0px -128px; }
  25% {
    background-position: -64px -128px; }
  50% {
    background-position: -128px -128px; }
  75% {
    background-position: -64px -128px; }
  100% {
    background-position: 0px -128px; } }

.twodanim-sprite-animation6 {
  animation-name: twodanim-sprite-keyframes-6;
  animation-duration: 1s;
  animation-timing-function: step-end;
  animation-iteration-count: infinite; }

@keyframes twodanim-sprite-keyframes-7 {
  0% {
    background-position: -192px -128px; }
  25% {
    background-position: -256px -128px; }
  50% {
    background-position: -320px -128px; }
  75% {
    background-position: -256px -128px; }
  100% {
    background-position: -192px -128px; } }

.twodanim-sprite-animation7 {
  animation-name: twodanim-sprite-keyframes-7;
  animation-duration: 1s;
  animation-timing-function: step-end;
  animation-iteration-count: infinite; }

@keyframes twodanim-sprite-keyframes-8 {
  0% {
    background-position: -384px -128px; }
  25% {
    background-position: -448px -128px; }
  50% {
    background-position: -512px -128px; }
  75% {
    background-position: -448px -128px; }
  100% {
    background-position: -384px -128px; } }

.twodanim-sprite-animation8 {
  animation-name: twodanim-sprite-keyframes-8;
  animation-duration: 1s;
  animation-timing-function: step-end;
  animation-iteration-count: infinite; }

@keyframes twodanim-sprite-keyframes-9 {
  0% {
    background-position: 0px -192px; }
  25% {
    background-position: -64px -192px; }
  50% {
    background-position: -128px -192px; }
  75% {
    background-position: -64px -192px; }
  100% {
    background-position: 0px -192px; } }

.twodanim-sprite-animation9 {
  animation-name: twodanim-sprite-keyframes-9;
  animation-duration: 1s;
  animation-timing-function: step-end;
  animation-iteration-count: infinite; }

@keyframes twodanim-sprite-keyframes-10 {
  0% {
    background-position: -192px -192px; }
  25% {
    background-position: -256px -192px; }
  50% {
    background-position: -320px -192px; }
  75% {
    background-position: -256px -192px; }
  100% {
    background-position: -192px -192px; } }

.twodanim-sprite-animation10 {
  animation-name: twodanim-sprite-keyframes-10;
  animation-duration: 1s;
  animation-timing-function: step-end;
  animation-iteration-count: infinite; }

@keyframes twodanim-sprite-keyframes-11 {
  0% {
    background-position: -384px -192px; }
  25% {
    background-position: -448px -192px; }
  50% {
    background-position: -512px -192px; }
  75% {
    background-position: -448px -192px; }
  100% {
    background-position: -384px -192px; } }

.twodanim-sprite-animation11 {
  animation-name: twodanim-sprite-keyframes-11;
  animation-duration: 1s;
  animation-timing-function: step-end;
  animation-iteration-count: infinite; }

@keyframes twodanim-sprite-keyframes-12 {
  0% {
    background-position: 0px -256px; }
  25% {
    background-position: -64px -256px; }
  50% {
    background-position: -128px -256px; }
  75% {
    background-position: -64px -256px; }
  100% {
    background-position: 0px -256px; } }

.twodanim-sprite-animation12 {
  animation-name: twodanim-sprite-keyframes-12;
  animation-duration: 1s;
  animation-timing-function: step-end;
  animation-iteration-count: infinite; }

@keyframes twodanim-sprite-keyframes-13 {
  0% {
    background-position: -192px -256px; }
  25% {
    background-position: -256px -256px; }
  50% {
    background-position: -320px -256px; }
  75% {
    background-position: -256px -256px; }
  100% {
    background-position: -192px -256px; } }

.twodanim-sprite-animation13 {
  animation-name: twodanim-sprite-keyframes-13;
  animation-duration: 1s;
  animation-timing-function: step-end;
  animation-iteration-count: infinite; }

@keyframes twodanim-sprite-keyframes-14 {
  0% {
    background-position: -384px -256px; }
  25% {
    background-position: -448px -256px; }
  50% {
    background-position: -512px -256px; }
  75% {
    background-position: -448px -256px; }
  100% {
    background-position: -384px -256px; } }

.twodanim-sprite-animation14 {
  animation-name: twodanim-sprite-keyframes-14;
  animation-duration: 1s;
  animation-timing-function: step-end;
  animation-iteration-count: infinite; }

@keyframes twodanim-sprite-keyframes-15 {
  0% {
    background-position: 0px -320px; }
  25% {
    background-position: -64px -320px; }
  50% {
    background-position: -128px -320px; }
  75% {
    background-position: -64px -320px; }
  100% {
    background-position: 0px -320px; } }

.twodanim-sprite-animation15 {
  animation-name: twodanim-sprite-keyframes-15;
  animation-duration: 1s;
  animation-timing-function: step-end;
  animation-iteration-count: infinite; }

@keyframes twodanim-sprite-keyframes-16 {
  0% {
    background-position: -192px -320px; }
  25% {
    background-position: -256px -320px; }
  50% {
    background-position: -320px -320px; }
  75% {
    background-position: -256px -320px; }
  100% {
    background-position: -192px -320px; } }

.twodanim-sprite-animation16 {
  animation-name: twodanim-sprite-keyframes-16;
  animation-duration: 1s;
  animation-timing-function: step-end;
  animation-iteration-count: infinite; }

@keyframes twodanim-sprite-keyframes-17 {
  0% {
    background-position: -384px -320px; }
  25% {
    background-position: -448px -320px; }
  50% {
    background-position: -512px -320px; }
  75% {
    background-position: -448px -320px; }
  100% {
    background-position: -384px -320px; } }

.twodanim-sprite-animation17 {
  animation-name: twodanim-sprite-keyframes-17;
  animation-duration: 1s;
  animation-timing-function: step-end;
  animation-iteration-count: infinite; }

.twodanim-sprite {
  width: 64px;
  height: 64px;
  overflow: hidden; }
